.hero {
   @apply h-[100vh] overflow-hidden;
   @apply relative;

   .videoHeroBg {
      @apply absolute top-0 left-0 w-full h-full;
      @apply object-cover;
      @apply opacity-30;
      @apply pointer-events-none select-none;
   }

   .imgHeroOverlay {
      @apply absolute top-0 left-0 w-full h-full;
      @apply object-cover;
      @apply pointer-events-none select-none;
   }

   .imgHeroShape {
      @apply hidden;
   }

   .container {
      @apply flex justify-center items-center flex-col gap-8;
      @apply relative z-10;
      @apply h-[100vh] max-w-[1100px];
      @apply text-center;
      @apply pt-8;
   }

   .heroHeading {
      strong {
         @include text-gradient(primaryReverse);
      }
   }

   .heroDescription {
      @apply max-w-[800px] mx-auto mb-4 block;
      @apply text-sm;
   }

   .heroCTA {
      @apply flex justify-center items-center flex-wrap gap-4;
   }

   @include responsive(md) {
      .imgHeroShape {
         @apply block;
         @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
         @apply h-[60vh];
         @apply opacity-50;
         @apply pointer-events-none select-none;
      }

      .container {
         @apply gap-12;
      }

      .heroDescription {
         @apply text-base mb-2;
      }
   }
   @include responsive(lg) {
      .imgHeroShape {
         @apply h-[70vh];
      }
   }
}

.sbp {
   @apply py-28;

   .container {
      @apply max-w-[900px];
   }

   .sbpHeading {
      @apply block text-center;
      strong {
         @include text-gradient(primary);
      }
   }
   .sbpDescription {
      @apply text-center my-8 mx-auto block max-w-[750px];
   }

   .sbpVisionMission {
      @apply flex justify-center items-center gap-10 flex-col;
      @apply mt-32;
      @apply relative;

      .sbpMission,
      .sbpVision {
         @apply flex flex-col gap-4 flex-1;

         strong {
            @include text-gradient(primary);
         }
      }

      .sbpVision {
         .sbpVisionLine {
            @apply absolute -top-16 left-0;
            @apply pointer-events-none select-none;
         }
      }

      .sbpMission {
         .sbpMissionLine {
            @apply absolute -top-16 right-0;
            transform: scaleX(-1);
            @apply pointer-events-none select-none;
         }
      }

      .sbpIcon {
         @apply hidden;
      }
   }

   @include responsive(md) {
      .sbpVisionMission {
         @apply flex-row gap-20;

         .sbpMission {
            & > * {
               @apply block text-right;
            }
         }
      }
   }

   @include responsive(lg) {
      @apply py-32;

      .sbpVisionMission {
         @apply mt-44;
         .sbpIcon {
            translate: 0 10%;
            @apply block m-auto relative z-20;

            img {
               @apply relative z-20;
            }
            &::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               translate: -35% -35%;
               background: url("../../public/home/sbc-icon-bg.svg");
               width: 338px;
               height: 342px;
               z-index: 0;
               animation: rotation 8s infinite linear;
            }

            @keyframes rotation {
               from {
                  transform: translate(0%, 1%) rotate(0deg);
               }
               50% {
                  transform: translate(0%, -2%) rotate(180deg);
               }
               to {
                  transform: translate(0%, 1%) rotate(359deg);
               }
            }
         }
      }
   }
}
