.faqHeader {
   @apply pb-0 min-h-[0px];
   .container {
      @apply max-w-[1000px];
   }

   .heading {
      @apply mb-8;
   }
}

.hero, .homeFaq{
   .faqWrapper {
      @apply grid grid-cols-1 mt-8;

      .faqQuestionAnswer {
         @apply flex flex-col;

         &:first-child {
            .faqQuestion {
               border-top: 1px solid rgba(#339dff, 0.5);
            }
         }

         .faqQuestion {
            // @include text-gradient(primary);
            font-size: 1.1rem;
            font-weight: 400;
            @apply flex justify-between items-center gap-8;
            @apply py-4;
            border-bottom: 1px solid rgba(#339dff, 0.5);
            cursor: pointer;

            &.noAnswer {
               @include text-gradient(primary);

               span {
                  font-weight: 700;
               }
            }
            span {
               @apply leading-[140%];
               font-weight: 400;
            }

            i {
               font-size: 1.5rem;
               @include text-gradient(primary);
            }

            &:hover {
               @include text-gradient(primary);
            }
         }

         .faqAnswer {
            @apply hidden;
         }

         &.active {
            background: rgba(color($color-light), 0.05);
            .faqQuestion {
               border-bottom: none;
               @include text-gradient(primary);
               @apply p-4;

               span {
                  font-weight: 700;
               }
            }
            .faqAnswer {
               @apply block;
               @apply p-4 pt-0;
               @apply pb-4;
               border-bottom: 1px solid rgba(#339dff, 0.5);
            }
         }
      }
   }

   @include responsive(md) {
      .faqWrapper {
         @apply grid grid-cols-2 gap-8 gap-y-0 mt-10 mb-24;

         .faqQuestionAnswer {
            &:first-child,
            &:nth-child(2) {
               .faqQuestion {
                  border-top: 1px solid rgba(#339dff, 0.5);
               }
            }

            .faqQuestion {
               @apply h-full;
               @apply px-2;
            }
            .faqAnswer {
               @apply px-2;
            }

            &.active {
               @apply col-span-2;

               .faqQuestion {
                  border-top: 1px solid rgba(#339dff, 0.5);
                  @apply p-8;
               }
               .faqAnswer {
                  @apply p-8 pt-0 pb-8;
               }
            }
         }
      }
   }

   @include responsive(lg) {
      // .faqQuestionAnswer {
      //    @apply my-16;
      // }
      .faqWrapper {
         .faqQuestionAnswer {
            .faqQuestion {
               @apply text-xl;
            }
         }
      }
   }
}

.hero {
   @include hero-spacing;
   @apply mb-24;
   @apply relative;

   @include responsive(md) {
   }

   .container {
      max-width: 1000px;
   }
}

.homeFaq{
   min-height: initial;
   .container{
      @apply grid gap-4;
   }
   .wrapper{
      @apply flex flex-col gap-4;
   }
   .faqWrapper{
      *{

         font-size: 1.1rem !important; //resetting font size
      }
   }

   // #region Responsive
   // Responsive for Tablet
   @include responsive(md) {
      .container{
         @apply relative;
         @apply flex gap-8;
      }
      .wrapper{
         @apply w-fit h-fit gap-8;
      }
      .faqWrapper{
         @apply w-full;
         @apply grid grid-cols-1 gap-0 gap-y-0 mt-0 mb-0;

         .faqQuestionAnswer {

            &.active {
               @apply col-span-1;

               .faqQuestion {
                  border-top: 1px solid rgba(#339dff, 0.5);
                  @apply p-4;
               }
               .faqAnswer {
                  @apply p-4 pt-0 pb-4;
               }
            }
         }
      }
   }

   // Responsive for Desktop
   @include responsive(lg) {
      .container{
         @apply mx-auto;
      }
   }
   @include responsive(xl) {
      .container{
         @apply gap-12
      }
   }
   // #endregion
}

.SBCFaq{
   @include responsive(md) {
      .container{
         @apply flex-col max-w-[900px];
      }
      .wrapper{
         @apply min-w-[300px]
      }
   }
}