.hero {
   @apply relative; //position
   @apply pt-16 overflow-hidden; //box

   .container {
      @apply relative; //position
      @apply flex items-center justify-center rounded-md; //layout
      @apply mt-8 px-8 min-h-[80vh]; //box
   }

   // Video background
   .videoHeroBg {
      @apply absolute top-0 left-0 right-0 bottom-0;
      @apply object-cover;
      @apply rounded-md;

      video {
         @apply rounded-md object-cover w-full h-full;
      }

      // Overlay
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         @apply rounded-md;
         background: rgb(30, 32, 63);
         background: radial-gradient(
            circle,
            rgba(30, 32, 63, 0.3) 0%,
            rgba(30, 32, 63, 1) 95%
         );
      }
   }

   // Content
   .heroDescription {
      @apply relative z-20; //position
      @apply flex flex-col justify-center items-center gap-6; //layout
      @apply w-full; //box
      @apply text-center; //font

      // sbc icon
      .heroIcon {
         scale: 0.8;
         translate: 0 10%;
         @apply block m-auto relative z-20;

         img {
            @apply relative z-20;
         }

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            translate: -35% -35%;
            background: url("../../public/home/sbc-icon-bg.svg");
            width: 338px;
            height: 342px;
            z-index: 0;
            animation: rotation 8s infinite linear;
         }

         @keyframes rotation {
            from {
               transform: translate(0%, 1%) rotate(0deg);
            }
            50% {
               transform: translate(0%, -2%) rotate(180deg);
            }
            to {
               transform: translate(0%, 1%) rotate(359deg);
            }
         }
      }

      // heading
      .heroHeading {
         @apply max-w-[800px]; //box

         h1 {
            @apply font-black text-3xl leading-[110%]; //font
         }

         b,
         strong {
            @apply font-black block;
            @include text-gradient(primaryReverse);
         }
      }

      // paragraph
      .heroPara {
         @apply max-w-[800px]; //box

         p {
            @apply text-base; //font
         }
      }

      // buttons
      .heroBtnWrapper {
         @apply flex flex-wrap justify-center gap-4; //layout
         @apply my-4; //box
      }
   }

   // #region Responsive
   // Responsive for Tablet
   @include responsive(md) {
      .container {
         @apply pt-0;
      }

      .heroDescription {
         .heroIcon {
            scale: 1;
            translate: 0 5%;
         }
         .heroHeading {
            h1 {
               @apply text-4xl leading-[120%]; //font
            }
            b,
            strong {
               display: initial !important;
            }
         }
      }
   }

   // Responsive for Desktop
   @include responsive(lg) {
      @apply pt-0; //box

      .container {
         @apply mt-24 mx-auto;
      }

      .heroDescription {
         .heroIcon {
            scale: 1.2;
         }
         .heroHeading {
            @apply mt-4;

            h1 {
               @apply text-5xl leading-[120%]; //font
            }
            b,
            strong {
               display: initial !important;
            }
         }
         .heroPara {
            p {
               @apply text-lg;
            }
         }
      }
   }
   @include responsive(xl) {
   }
   // #endregion
}

.miners {
   margin-block: 50px !important;
   min-height: initial !important;

   // Heading
   .heroClientHeading {
      @apply block px-16 mb-8; //box
      @apply text-center font-bold text-base leading-[110%]; //font
   }

   // Images
   .heroClientImage {
      @apply grid place-content-center; //layout
      @apply h-auto;

      img {
         filter: brightness(0) invert(1);
         opacity: 0.8;
         max-height: 40px;
         width: auto;
      }
   }

   // #region Responsive
   // Responsive for Tablet
   @include responsive(md) {
      margin-block: 70px !important;

      .heroClientHeading {
         @apply text-lg; //font
      }
   }

   // Responsive for Desktop
   @include responsive(lg) {
   }
   @include responsive(xl) {
   }
   // #endregion
}

.about {
   @apply pt-5 pb-12 overflow-hidden; //box
   margin-block: 50px !important;
   background: linear-gradient(
      39deg,
      rgba(51, 157, 255, 0.1) 0%,
      rgba(14, 193, 211, 0.1) 100%
   );

   .container {
      @apply mx-auto px-4;
   }

   .wrapper {
      @apply grid gap-8 justify-center;
   }

   .image {
      img {
         @apply aspect-video cursor-pointer;
         @apply max-w-[630px] w-full mx-auto;
      }
   }

   .content {
      @apply flex flex-col justify-center items-center gap-4; //layout
      @apply text-center; //font

      p {
         font-size: 1.1rem;
      }
   }

   .heading {
      h4 {
         @apply text-xl font-normal leading-[140%]; //font
         @include gradient-text;

         strong {
            @apply block; //box
            @apply text-3xl font-black; //font
            @include text-gradient(initial);
         }
      }
   }

   // #region Responsive
   // Responsive for Tablet
   @include responsive(md) {
      margin-block: 70px !important;
   }

   // Responsive for Desktop
   @include responsive(lg) {
      @apply py-[100px] overflow-hidden; //box

      .wrapper {
         @apply grid grid-cols-2 gap-8 items-start;
      }

      .image {
         order: 2;
      }

      .content {
         @apply flex flex-col justify-start items-start gap-4; //layout
         @apply text-left; //font
      }

      .heading {
         h4 {
            strong {
               @apply text-4xl; //font
            }
         }
      }
   }
   @include responsive(xl) {
      .wrapper {
         @apply gap-12 items-center;
      }
   }
   // #endregion
}

.testimonials {
   @apply relative; //position

   .testimonialWrapper {
      @apply flex flex-col gap-12; //layout

      .testimonialHeadingWrapper {
         @apply flex flex-col gap-4; //layout

         .btnWrapper {
            @apply flex gap-2 items-center; //layout
         }

         .testimonialHeading {
            @include text-gradient(primaryReverse);
            @apply leading-[110%];
         }
      }
   }

   .testimonialSlider {
      width: fit-content;
      width: 100%;
   }

   .swiper-slide{
      max-width: 300px !important
   }

   .testimonialSlide {
      @apply h-full rounded-lg; //box
      max-width: 400px !important;

      background: linear-gradient(
         39deg,
         rgba(51, 157, 255, 0.1) 0%,
         rgba(14, 193, 211, 0.1) 100%
      );

      .testimonialSlideInner{
         @apply p-8;
         @apply flex flex-col gap-6; //layout
      }

      .testimonialTestimonyImage {
         @apply rounded-full w-24 aspect-square;
      }

      .testimonialTestimony {
         @apply italic font-normal;
      }

      .testimonialTestimonyName {
         @apply font-bold text-base;
         @apply mt-4 mb-2;
         @include gradient-text;
      }
      hr{
         width: 3rem;
         margin-block: 1rem;
      }
      .testimonialTestimonyCompanyLogo {
         filter: brightness(0) invert(1);
         height: 1rem;
         width: auto;
      }
   }

   // #region Responsive
   // Responsive for Tablet
   @include responsive(md) {
   }

   // Responsive for Desktop
   @include responsive(lg) {
      &::after {
         content: "";
         position: absolute;
         width: 50vw;
         height: 100%;
         top: 0;
         right: 0;
         pointer-events: none;
         background: linear-gradient(
            to right,
            rgba(#1e203f, 0) 0%,
            rgba(#1e203f, 1) 95%
         );
         z-index: 1000;
      }

      .testimonialWrapper {
         @apply flex-row gap-24; //layout

         .testimonialHeadingWrapper {
            @apply flex gap-8 py-8; //layout

            .btnWrapper {
               @apply gap-4; //layout
            }
         }
      }

      .testimonialSlide{
         max-width: 450px !important;

         &.activeSlide{
            background: linear-gradient(
               39deg,
               rgba(51, 157, 255, 0.3) 0%,
               rgba(14, 193, 211, 0.3) 100%
            );
         }

         .testimonialTestimony{
            @apply text-lg not-italic
         }
      }
   }
   @include responsive(xl) {
   }
   // #endregion
}
