.hero {
   @apply relative overflow-hidden;
   @apply pt-16;

   // Container
   .container {
      @apply pt-10;
      @apply relative;
      @apply min-h-[100vh];
      @apply grid place-content-center;
   }

   // Description
   .heroDescription {
      @apply relative z-20;
      @apply text-center;
      @apply max-w-[1000px] mx-auto;
      @apply flex flex-col gap-6;

      .heroHeading {
         h1 {
            @apply font-bold;
            @apply text-[2.5rem];
            line-height: 110%;
         }

         b,
         strong {
            @apply font-black;
         }
      }
      .heroPara {
         @apply px-2;
         @apply max-w-[800px] mx-auto;
      }
      .heroBtnWrapper {
         @apply flex flex-wrap justify-center gap-4;
         @apply my-4;
      }
   }

   // Clients
   .heroClient {
      @apply mt-10;
      @apply flex flex-col gap-4 items-center justify-center;

      .heroClientLogoTitle {
         @include typo(para);
         @apply font-extrabold;
         @apply mb-4;
      }

      .heroClientLogo {
         @apply flex gap-6 items-center flex-wrap justify-center;
         @apply relative z-20;

         img {
            @apply opacity-70;
            @apply transition-all duration-300 ease-out;
            height: 1.5rem !important;
            width: auto !important;
            filter: brightness(0) invert(1);

            &:hover {
               @apply opacity-100;
            }
         }
      }
   }

   // Hero Background
   .imgHeroBg {
      @apply absolute top-0 left-0;
      @apply w-auto min-h-[100vh];
      @apply object-cover object-left;
      @apply select-none pointer-events-none;
      opacity: 0.6;
   }

   // Hero Windmill
   .imgHeroWindmill {
      @apply hidden;
      @apply select-none pointer-events-none;
   }

   // Hero Cloud
   .imgHeroCloud {
      @apply absolute top-10 left-44 z-10 opacity-70;
      @apply max-h-[70vh] w-auto;
      @apply object-contain;
      @apply select-none pointer-events-none;
   }

   // responsive
   @include responsive(md) {
      .container {
         @apply pt-0;
      }
      .heroDescription {
         .heroHeading {
            h1 {
               @apply text-5xl;
               line-height: 120%;
            }
         }
         .heroPara {
            P {
               @apply line-clamp-none;
            }
         }
      }
      .imgHeroCloud {
         @apply absolute top-0 left-1/2 z-10;
         @apply max-h-[70vh] w-auto;
         @apply object-contain;
      }
   }

   @include responsive(lg) {
      @apply pt-0;

      .container {
         @apply min-h-[110vh];
      }
      .heroDescription {
         @apply pt-10;

         .heroHeading {
            h1 {
               @apply text-7xl;
            }
         }

         .heroPara {
            font-size: 1.1rem;
         }
      }

      .heroClient {
         .heroClientLogo {
            @apply gap-12;
            img {
               height: 1.8rem !important;
            }
         }
      }

      .imgHeroBg {
         @apply w-full h-full;
         @apply object-bottom;
      }

      .imgHeroWindmill {
         @apply block;
         @apply absolute bottom-0 right-0 z-20;
         @apply max-h-[80vh] w-auto;
         @apply object-contain;
      }
   }
}

.sbc {
   @apply text-center grid place-content-center;
   @apply relative;
   margin-top: 5rem !important;

   .sbcBg {
      @apply absolute top-0 left-0 w-full h-full;

      canvas {
         position: absolute !important;
         @apply top-0 left-0 right-0 bottom-0;
      }
   }

   .container {
      @apply flex flex-col gap-8;
      @apply max-w-[900px];
   }

   .sbcIcon {
      scale: 0.8;
      translate: 0 10%;
      @apply block m-auto relative z-20;

      img {
         @apply relative z-20;
      }

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         translate: -35% -35%;
         background: url("../../public/home/sbc-icon-bg.svg");
         width: 338px;
         height: 342px;
         z-index: 0;
         animation: rotation 8s infinite linear;
      }

      @keyframes rotation {
         from {
            transform: translate(0%, 1%) rotate(0deg);
         }
         50% {
            transform: translate(0%, -2%) rotate(180deg);
         }
         to {
            transform: translate(0%, 1%) rotate(359deg);
         }
      }
   }

   .sbcHeading {
      @apply relative z-20;
   }

   .sbcSubHeading {
      @apply block my-1;
      @apply relative z-20;

      * {
         @apply font-medium;
      }
   }

   .sbcDescription {
      @apply relative z-20;
   }

   .sbcFeatures {
      @apply flex justify-center flex-wrap gap-2 gap-x-4;
      @apply font-bold;
      @apply my-2;
      @include text-gradient(primary);
      @apply relative z-20;

      & > div {
         @include typo(heading, 6);
      }
   }

   .sbcBtn {
      @apply mx-auto;
      @apply relative z-20;
   }

   @include responsive(md) {
      .sbcIcon {
         scale: 0.9;
         translate: 0 5%;
      }
      .sbcIconLine {
         scale: 0.9;
      }
   }

   @include responsive(lg) {
      .sbcFeatures {
         @apply text-lg font-extrabold;
      }
      .sbcIcon {
         scale: 1;
      }
      .sbcIconLine {
         scale: 1.25;
      }
   }
}

.testimonials {
   .container {
      .testimonialWrapper {
         @apply max-w-[750px] mx-auto;
         @apply rounded-lg;
         @apply p-6;

         border: 1px solid #339dff;
         background: rgba($color: #fafafa, $alpha: 0.07);
      }

      .testimonialHeading {
         @include text-gradient(primaryReverse);
         @apply leading-[110%];
      }

      .testimonialSlide {
         @apply flex flex-col gap-4;
         @apply mt-8;

         .testimonialTestimonyImage {
            @apply rounded-full w-28 aspect-square;
         }

         .testimonialTestimony {
            @apply italic;
         }

         .testimonialTestimonyName {
            @apply font-bold text-lg;
            @apply mt-4 mb-2;
         }

         .testimonialTestimonyCompanyLogo {
            filter: brightness(0) invert(1);
            height: 1.2rem;
            width: auto;
         }
      }
   }

   @include responsive(md) {
      .container {
         .testimonialWrapper {
            @apply p-8;
         }
         .testimonialSlide {
            @apply flex-row items-start gap-8;
         }
      }
   }

   @include responsive(lg) {
      .container {
         .testimonialWrapper {
            @apply p-10;
         }
         .testimonialSlide {
            .testimonialTestimonyImage {
               height: 120px;
               width: 120px;
            }
            .testimonialTestimony {
               font-size: 1.05rem;
            }
         }
      }
   }
}

.trust {
   @apply overflow-hidden;
   @apply min-h-fit;
   @apply py-4;
   .wrapper {
      @apply grid gap-8;
   }

   .image {
      @apply relative grid place-content-center;
      @apply w-fit mx-auto max-w-[300px];

      img {
         @apply relative z-20;
      }

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
         scale: 0.6;
         background: url("../../public/home/trust-shade.svg");
         background-repeat: no-repeat;
         background-position: center;
         width: 200%;
         height: 200%;
         z-index: 0;
         animation: rotation 15s infinite linear;
      }

      @keyframes rotation {
         from {
            transform: translate(0%, 0%) rotate(0deg);
         }
         50% {
            transform: translate(0%, -5%) rotate(180deg);
         }
         to {
            transform: translate(0%, 0%) rotate(359deg);
         }
      }

      // Bitcoin
      .bitcoin {
         @apply absolute;
         @apply transition-all divide-gray-300 ease-out;
         animation: blinkAnimation 5s infinite;

         &1 {
            @apply top-1/2 -left-[10px];
            animation-delay: 0.2s;
         }

         &2 {
            @apply top-0 left-1/2 -translate-x-1/2 -translate-y-1/2;
         }

         &3 {
            @apply top-[30%] right-[17%];
            animation-delay: 0.4s;
         }

         &4 {
            @apply bottom-[20%] right-[26%];
            animation-delay: 0.5s;
         }

         &5 {
            @apply bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2;
            animation-delay: 1s;
         }

         @keyframes blinkAnimation {
            from {
               opacity: 1;
            }
            50% {
               opacity: 0;
            }
            to {
               opacity: 1;
            }
         }
      }
   }

   .content {
      @apply flex flex-col items-center text-center justify-center gap-8;
   }

   .trustHeading {
      @apply leading-[100%];

      strong {
         @include text-gradient(primary);
      }
   }

   .trustCTA {
      @apply mt-4;
   }

   @include responsive(md) {
      .wrapper {
         @apply grid-cols-2;
      }
      .content {
         @apply items-start text-left;
      }
   }
   @include responsive(lg) {
      .image {
         @apply max-w-[400px];
         &::before {
            scale: 0.75;
         }
      }
   }
}
