.hero {
   @apply relative overflow-hidden;

   // Container
   .container {
      @apply pt-10;
      @apply relative;
      @apply min-h-[100vh];
      @apply grid place-content-center;
   }

   // Description
   .heroDescription {
      @apply relative z-20;
      @apply text-center;
      @apply max-w-[870px] mx-auto;
      @apply flex flex-col gap-6;

      .heroHeading {
         @apply text-[2.5rem] font-bold leading-[100%];

         b,
         strong {
            @include text-gradient(primary);
            @apply font-black;
         }
      }
      .heroPara {
         @apply flex flex-col gap-3;
         @apply opacity-90;
         @apply text-sm px-8;
      }
      .heroBtnWrapper {
         @apply flex flex-wrap justify-center gap-4;
         @apply my-4;
      }
   }

   // Clients
   .heroClient {
      @apply mt-10;
      @apply flex flex-col gap-4 items-center justify-center;

      .heroClientLogoTitle {
         @apply text-[1.1rem] font-bold;
      }

      .heroClientLogo {
         @apply flex gap-4 items-center flex-wrap justify-center;

         img {
            @apply opacity-70;
            @apply transition-all duration-300 ease-out;
            height: 1.5rem !important;
            width: auto !important;
            filter: brightness(0) invert(1);

            &:hover {
               @apply opacity-100;
            }
         }
      }
   }

   // Hero Background
   .imgHeroBg {
      @apply absolute top-0 left-0;
      @apply w-auto min-h-[100vh];
      @apply object-cover object-left;
      @apply select-none pointer-events-none;
   }

   // Hero Windmill
   .imgHeroWindmill {
      @apply hidden;
      @apply select-none pointer-events-none;
   }

   // Hero Cloud
   .imgHeroCloud {
      @apply absolute top-10 left-44 z-10 opacity-70;
      @apply max-h-[70vh] w-auto;
      @apply object-contain;
      @apply select-none pointer-events-none;
   }

   // responsive
   @include responsive(md) {
      .container {
         @apply pt-0;
      }
      .heroDescription {
         .heroHeading {
            @apply text-5xl;
         }
         .heroPara {
            @apply text-base;
            P {
               @apply line-clamp-none;
            }
         }
      }
      .imgHeroCloud {
         @apply absolute top-0 left-1/2 z-10;
         @apply max-h-[70vh] w-auto;
         @apply object-contain;
      }
   }

   @include responsive(lg) {
      .container {
         @apply min-h-[110vh];
      }
      .heroDescription {
         @apply pt-10;

         .heroHeading {
            @apply text-7xl;
         }

         .heroPara {
            font-size: 1.1rem !important;
         }
      }

      .heroClient {
         .heroClientLogo {
            @apply gap-8;
            img {
               height: 1.8rem !important;
            }
         }
      }

      .imgHeroBg {
         @apply w-full h-full;
         @apply object-bottom;
      }

      .imgHeroWindmill {
         @apply block;
         @apply absolute bottom-0 right-0 z-20;
         @apply max-h-[80vh] w-auto;
         @apply object-contain;
      }
   }
}

.sbc {
   @apply py-20;
   @apply text-center grid place-content-center;
   @apply relative;

   .sbcBg {
      @apply absolute top-0 left-0 w-full h-full;

      canvas {
         position: absolute !important;
         @apply top-0 left-0 right-0 bottom-0;
      }
   }

   .container {
      @apply flex flex-col gap-8;
      @apply max-w-[870px];
   }

   .sbcIcon {
      scale: 0.8;
      translate: 0 10%;
      @apply block m-auto relative z-20;

      img {
         @apply relative z-20;
      }

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         translate: -35% -35%;
         background: url("../../public/home/sbc-icon-bg.svg");
         width: 338px;
         height: 342px;
         z-index: 0;
         animation: rotation 8s infinite linear;
      }

      @keyframes rotation {
         from {
            transform: translate(0%, 1%) rotate(0deg);
         }
         50% {
            transform: translate(0%, -2%) rotate(180deg);
         }
         to {
            transform: translate(0%, 1%) rotate(359deg);
         }
      }
   }

   .sbcIconLine {
      @apply absolute -top-[83%] left-[42%] h-full;
      @apply pointer-events-none;
      scale: 0.8;
      transform-origin: bottom left;
   }

   .sbcSubHeading {
      @apply font-medium block;
   }

   .sbcDescription {
      @apply leading-[140%] opacity-90;
   }

   .sbcFeatures {
      @apply flex justify-center flex-wrap gap-2 gap-x-4;
      @apply font-bold;
      @apply my-2;
      @include text-gradient(primary);
   }

   .sbcDescription {
      p {
         @apply mb-3;
      }
   }

   .sbcBtn {
      @apply mx-auto;
   }

   @include responsive(md) {
      .sbcIcon {
         scale: 0.9;
         translate: 0 5%;
      }
      .sbcIconLine {
         scale: 0.9;
      }
   }

   @include responsive(lg) {
      .sbcFeatures {
         @apply text-lg font-extrabold;
      }
      .sbcIcon {
         scale: 1;
      }
      .sbcIconLine {
         scale: 1.25;
      }
      .sbcDescription {
         font-size: 1.1rem;
      }
   }
}

.testimonials {
   @apply relative py-20;

   .testimonialLine {
      @apply absolute h-full  top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
   }

   .container {
      .testimonialWrapper {
         @apply max-w-[750px] mx-auto;
         @apply rounded-lg;
         @apply p-6;

         border: 1px solid #339dff;
         background: rgba($color: #fafafa, $alpha: 0.07);
      }

      .testimonialHeading {
         @include text-gradient(primaryReverse);
         @apply leading-[110%];
      }

      .testimonialSlide {
         @apply flex flex-col gap-4;
         @apply mt-8;

         .testimonialTestimonyImage {
            @apply rounded-full w-28 aspect-square;
         }

         .testimonialTestimony {
            @apply italic;
         }

         .testimonialTestimonyName {
            @apply font-bold text-lg;
            @apply mt-4 mb-2;
         }

         .testimonialTestimonyCompanyLogo {
            filter: brightness(0) invert(1);
            height: 1.2rem;
            width: auto;
         }
      }
   }

   @include responsive(md) {
      .container {
         .testimonialWrapper {
            @apply p-8;
         }
         .testimonialSlide {
            @apply flex-row items-start gap-8;
         }
      }
   }

   @include responsive(lg) {
      @apply mb-20;
      .container {
         .testimonialWrapper {
            @apply p-10;
         }
         .testimonialSlide {
            .testimonialTestimonyImage {
               height: 120px;
               width: 120px;
            }
            .testimonialTestimony {
               font-size: 1.05rem;
            }
         }
      }
   }
}
