.hero {
   @include hero-spacing;
   @apply w-[100vw] overflow-hidden;

   .container {
      @apply max-w-[1000px];
      @apply flex flex-col justify-center items-center gap-8;
      @apply text-center;
   }

   .heroImg {
      @apply scale-150;
      @apply mb-8;
   }

   .heroHeading {
      @apply max-w-[600px] leading-[110%];
      @apply mt-1;
      @include text-gradient(primary);
   }

   .heroSubHeading {
      @apply font-semibold;
   }

   @include responsive(md) {
      .heroImg {
         @apply -mt-10;
         @apply max-w-[800px] mx-auto;
         @apply scale-125;
      }
   }

   @include responsive(lg) {
      .heroImg {
         @apply max-w-max -mt-16;
         @apply scale-125;
      }

      .heroHeading {
         @apply max-w-[800px];
      }
      .heroPara {
         font-size: 1.1rem;
      }
   }
}

.investment {
   .container {
      @apply max-w-[1100px];
      @apply flex flex-col justify-center items-center gap-8;
   }

   .investmentHeading {
      @apply text-center w-full;
   }

   .investmentSubHeading {
      @apply font-normal text-center w-full my-1;
   }

   .investmentFormula {
      @apply grid grid-cols-2 gap-2;

      .investmentFormulaLHS {
         @include text-gradient(primary);
         @apply text-right;
      }

      .investmentFormulaValue {
         @apply text-4xl font-black;
      }

      .investmentFormulaSubHeading {
         @apply font-medium;
      }

      .investmentFormulaTags {
         @apply flex flex-wrap gap-1 mt-2;

         li {
            background: #a5e126;
            box-shadow: 4px 4px 3px 0px rgba(255, 255, 255, 0.75) inset;
            color: color($color-dark);
            @apply py-1 px-2 rounded-full text-sm leading-[110%];
         }
      }
   }

   .investmentDescription {
      @apply max-w-[700px] mx-auto text-center;
   }

   .investmentCTA {
      @apply flex justify-center items-center gap-4 flex-wrap;
   }

   @include responsive(md) {
      .investmentFormula {
         .investmentFormulaValue {
            @apply text-6xl font-black;
         }
         .investmentFormulaSubHeading {
            @apply text-lg;
         }
         .investmentFormulaTags {
            li {
               @apply text-base py-1 px-3 rounded-full;
            }
         }
      }
   }

   @include responsive(lg) {
      .investmentSubHeading {
         @apply my-2;
         font-size: 1.3rem;
      }
   }
}

.support {
   @apply my-28;
   .container {
      @apply max-w-[1000px];
      @apply flex flex-col justify-center items-center gap-8;
   }

   .supportHeading {
      @apply block text-center max-w-[700px] mx-auto leading-[110%];
      strong {
         @include text-gradient(primary);
      }
   }

   .supportSubHeading {
      @apply block mx-auto text-center mt-4;
   }

   .supportType {
      @apply mt-10 text-center w-full;

      .supportTypeLogoWrapper {
         @apply grid grid-cols-2 gap-2 mt-4;
      }

      .supportTypeLogo {
         background: rgba($color: color($color-light), $alpha: 0.1);
         border: 1px solid rgba($color: #339dff, $alpha: 0.5);
         @apply rounded-lg p-6;
         @apply flex justify-center items-center;
         @apply transition-all duration-300 ease-out;

         img {
            width: auto !important;
            max-height: 2.5rem;
            filter: brightness(0) invert(1);
            @apply transition-all duration-300 ease-out;
         }

         &:hover {
            background: rgba($color: color($color-light), $alpha: 1);
            border: 1px solid rgba($color: color($color-light), $alpha: 1);

            img {
               filter: initial;
            }
         }
      }
   }

   @include responsive(md) {
      .supportType {
         @apply w-3/4;
         .supportTypeLogoWrapper {
            @apply flex justify-center gap-4;

            .supportTypeLogo {
               @apply py-4;
            }
         }
      }
   }

   @include responsive(lg) {
      .container {
         @apply my-32;
      }
      .supportType {
         @apply w-full;
         .supportTypeLogoWrapper {
            @apply mt-8;
            .supportTypeLogo {
               @apply py-6;
            }
         }
      }
   }
}
