.hero {
   @apply pt-40;
   .heroImg {
      @apply hidden;
   }

   .heroContent {
      @apply flex flex-col items-center text-center gap-4;
   }

   .heroHeading {
      h1 {
         @apply leading-[100%];
      }
      strong {
         @include text-gradient(primary);
      }
   }

   .heroCTA {
      @apply flex gap-4 items-center justify-center flex-wrap;
   }

   .heroMiningFlow {
      @apply flex items-stretch mt-4 mb-8;
      li {
         @apply inline-block p-2 px-3;
         @apply flex justify-center items-center;
         @apply leading-[110%] text-center text-sm;

         background: rgba($color: color($color-light), $alpha: 0.05);
         clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);

         &:not(:first-child) {
            @apply -ml-2;
         }
      }
   }

   .heroClients {
      @apply mt-16;

      .heroClientHeading {
         @apply px-16 block text-center leading-[110%] mb-4;
      }
      .heroClientImage {
         height: 100px;
         @apply grid place-content-center;

         img {
            filter: brightness(0) invert(1);
            opacity: 0.8;
            max-height: 40px;
            width: auto;
         }
      }
   }

   @include responsive(md) {
      .heroMiningFlow {
         li {
            @apply p-3 px-12 flex-1;
            @apply text-base;
            &:not(:first-child) {
               @apply -ml-4;
            }
         }
      }
   }

   @include responsive(lg) {
      .heroWrapper {
         @apply flex items-center justify-between;
      }

      .heroContent {
         @apply max-w-[800px] items-start text-left;
      }

      .heroCTA {
         @apply justify-start;
      }

      .heroImg {
         @apply block;

         img {
            @apply max-h-[400px] w-auto;
         }
      }
   }
}

.use {
   @apply mb-28;
   .container {
      @apply max-w-[1000px];
      @apply flex flex-col justify-center items-center gap-12;
   }

   .useHeading {
      @apply block text-center;

      strong {
         @include text-gradient(primary);
      }
   }

   .useDescription {
      @apply block text-center;
      @apply max-w-[800px] mx-auto;

      p:not(:last-child) {
         @apply mb-4;
      }
   }

   .useFeatures {
      @apply grid gap-4;

      li {
         @apply rounded-lg;
         @apply flex flex-col gap-2;
         @apply p-4;
         @apply transition-all duration-300 ease-out;

         background: linear-gradient(
            40deg,
            rgba(#339dff, 0.1) 0%,
            rgba(#0ec1d3, 0.1) 100%
         );
         border: 1px solid transparent;

         &:hover {
            border-color: #339dff;
         }
      }

      .useFeatureHeading {
         @include text-gradient(primary);
      }
   }

   @include responsive(md) {
      .useFeatures {
         @apply grid-cols-2 gap-6;

         li {
            @apply p-6;
            @apply gap-3;

            // &:hover {
            //    rotate: -2deg;
            //    scale: 1.1;
            // }
         }
      }
   }
}

.requirement {
   .container {
   }

   .requirementHeading {
      @apply block text-center;

      strong {
         @include text-gradient(primary);
      }
   }

   .requirementImage {
      img {
         @apply max-w-[1300px] mx-auto;
      }
   }

   .requirementNotes {
      @apply max-w-[1100px] mx-auto;
      @apply flex flex-col gap-2;
      @apply mt-10 mb-28;
      font-size: 15px;

      strong {
         @apply font-extrabold;
      }

      h5 {
         @apply text-xl;
      }

      ol,
      ul {
         @apply pl-5 my-1;
      }

      ol {
         list-style-type: decimal;
      }

      ul {
         list-style-type: circle;
      }
   }

   @include responsive(lg) {
      .requirementNotes {
         @apply mt-20;
         font-size: 16px;

         ol,
         ul {
            @apply pl-6;
         }
      }
   }
}

.qualify {
   @apply my-28 min-h-fit;
   .container {
      // @apply max-w-[1100px];
   }

   .qualifyHeading {
      @apply block mx-auto text-center;
      @apply leading-[110%];
      @apply max-w-[900px];

      strong {
         @include text-gradient(primary);
      }
   }

   .qualifyPractices {
      @apply grid grid-cols-2 gap-4;
      @apply mt-12;

      .card {
         border: 1px solid rgba(color($color-light), 0.2);
         background: rgba($color: color($color-light), $alpha: 0.05);
         @apply rounded-md;
         @apply p-4;
         @apply transition-all duration-300 ease-out;
         @apply flex justify-center items-center text-center;

         &:hover {
            border-color: #339dff;
            background: rgba($color: #339dff, $alpha: 0.1);
         }
      }
   }

   @include responsive(md) {
      @apply my-44;

      .qualifyPractices {
         @apply grid-cols-3;
      }
   }

   @include responsive(lg) {
      .qualifyPractices {
         @apply grid-cols-4 gap-6;

         .card {
            @apply p-6;
         }
      }
   }
}

.qualifyForm {
   .container {
      @apply max-w-[1000px];
      @apply flex justify-center items-center gap-6;
   }

   .qualifyFormHeading {
      @include text-gradient(primary);
      @apply mb-12 leading-[140%];
   }

   .qualifyImage {
      @apply hidden relative w-[200px] h-[500px];
      background: linear-gradient(
         40deg,
         rgba(#339dff, 0.1) 0%,
         rgba(#0ec1d3, 0) 100%
      );

      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 100%;
         width: 1px;
         height: 100%;
         background: $gradient-primary;
         opacity: 0.3;
      }
   }

   .qualifyFormWrapper {
      @apply flex-1;
   }

   @include responsive(md) {
      .container {
         @apply gap-8;
      }

      .qualifyImage {
         @apply w-[150px];
         @apply block;
      }
   }

   @include responsive(lg) {
      .container {
         @apply gap-10;
      }
      .qualifyImage {
         @apply w-[200px];
      }
   }
}
