.hero {
   @include hero-spacing;
   @apply pb-20;

   .articles {
      @apply grid grid-cols-1 gap-8;
   }

   .articleCard {
      @apply flex flex-col gap-4;

      .articleImage {
         @apply aspect-video w-full overflow-hidden;
         @apply relative;
         background: color($color-dark, 400);

         img {
            @apply transition-all duration-300 ease-out;
            object-fit: cover;
         }

         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $gradient-primary;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            @apply transition-all duration-300 ease-out;
         }
      }

      .articleTitle {
         @apply line-clamp-2;
         @apply font-semibold;
      }

      .articleDate {
         @apply font-medium;
         @include text-gradient(primary);
         @apply mt-2;
      }

      .articleDescription {
         @apply opacity-80;
         @apply line-clamp-3;
      }

      &:hover {
         .articleImage {
            img {
               rotate: -3deg;
               scale: 1.2;
            }

            &::after {
               opacity: 0.1;
               visibility: visible;
            }
         }
      }
   }

   @include responsive(md) {
      @apply pb-24;
      .articles {
         @apply grid grid-cols-2 gap-6 gap-y-8;
      }
   }

   @include responsive(lg) {
      .articles {
         @apply grid grid-cols-3 gap-8 gap-y-12;
      }
   }
}

.article {
   @include hero-spacing;
   @apply pb-20;
   @apply relative;

   .articleContent {
      @apply col-span-8;
      @apply flex flex-col gap-4 md:gap-6 lg:gap-8;
      @apply p-4 md:p-6 lg:p-8;
      @apply rounded-xl;

      background: linear-gradient(
         40deg,
         rgba(#339dff, 0.05) 0%,
         rgba(#0ec1d3, 0.05) 100%
      );
      border: 1px solid rgba(#339dff, 0.15);
   }

   .articleAside {
      @apply col-span-4 lg:py-8;
      @apply sticky top-[100px] h-fit;
   }
   .articleImage {
      @apply w-full aspect-video overflow-hidden;
      @apply rounded-lg;

      img {
         @apply object-cover;
      }
   }
   .separator {
      @apply w-full h-[1px];
      background: $gradient-primary;
      @apply my-4;
      @apply opacity-20;
   }

   .articleAsideCard {
      @apply rounded-lg;
   }

   // related list
   .relatedList {
      @apply flex flex-col gap-3 mt-6;

      li {
         @apply flex gap-3 items-center;
      }

      img {
         @apply max-w-[6rem];
      }

      .relatedListHeading {
         @include typo(para);
         @apply text-base;

         &:hover {
            @include text-gradient(primary);
         }
      }

      .separator {
         @apply my-0 opacity-20;

         &:last-child {
            @apply hidden;
         }
      }
   }
   @include responsive(md) {
      @apply pb-24;
   }
   @include responsive(lg) {
      .container {
         @apply grid grid-cols-12 gap-12;
      }
   }
}
