.footer {
   .copyright {
      @apply text-center py-4 px-6 text-sm font-light;
      background: color($color-dark, 600);
   }

   .footerContent {
      background: color($color-dark, 400);
      font-size: 15px;
      @apply py-16;

      .container {
         @apply flex flex-wrap gap-y-6 gap-x-10;

         .footerAbout {
            @apply w-full flex flex-col items-start gap-4 opacity-80;

            img {
               height: 2rem;
               width: auto;
            }
         }

         .footerSocialMedia {
            @apply flex items-center flex-wrap gap-3 mt-4;
         }

         // Footer Links
         ul {
            @apply grid gap-2;
         }
         .footerLink {
            @include text-gradient(light);
            @apply relative inline-block;

            &::after {
               content: "";
               @apply absolute top-full left-0;
               @apply w-full h-[1px] opacity-50;
               background: color($color-light);
            }

            &:hover {
               @include text-gradient(primary);
               border-color: #339dff;

               &::after {
                  opacity: 1;
                  background: $gradient-primary;
               }
            }
         }
      }

      @include responsive(md) {
         .container {
            @apply gap-y-8 gap-x-14;
         }
      }
      @include responsive(lg) {
         .container {
            @apply flex-nowrap gap-40;
            .footerAbout {
               p {
                  @apply max-w-[500px];
               }

               img {
                  height: 40px;
               }
            }
         }

         ul {
            @apply w-64;
         }
         .footerLink {
            @apply whitespace-nowrap;
         }
      }
      @include responsive(xl) {
         ul {
            @apply w-96;
         }
         .footerLink {
            @apply whitespace-nowrap;
         }
      }
   }

   .careerForm {
      background: color($color-dark, 500);
      @apply relative py-10 overflow-hidden;

      .container {
         @apply relative;
      }

      .careerContent {
         @apply relative z-10;
         @apply grid gap-2;

         .heading {
            @include text-gradient(primary);
            @apply text-5xl font-black w-fit;
         }
         .para {
            @apply text-lg w-fit;
         }
      }
      .careerBg {
         @apply absolute top-1/2 right-0 -translate-y-1/2;
         @apply opacity-30;
         @apply max-w-[300px] w-full;
      }

      form {
         @apply flex gap-4 items-start w-full max-w-[700px] mt-8 mb-4;

         .formGroup {
            @apply flex-1 m-0;
         }
      }

      @include responsive(lg) {
         @apply py-12;
         .careerBg {
            @apply max-w-[450px] w-auto;
         }

         form {
            @apply mt-6 mb-4;
         }
      }
   }
}
