.footer {
   .copyright {
      @apply text-center py-4 text-sm font-light;
      background: color($color-dark, 600);
   }

   .footerContent {
      background: color($color-dark, 400);
      font-size: 15px;
      @apply py-16;

      .container {
         @apply flex flex-wrap gap-y-6 gap-x-10;

         .footerAbout {
            @apply w-full flex flex-col items-start gap-4 opacity-80;

            img {
               height: 2rem;
               width: auto;
            }
         }

         .footerCTA{
            @apply flex flex-col gap-2;
            @include gradient-text;
            border-bottom: 1px solid #339dff;

            a:hover{
               @include text-gradient(primaryReverse);
               border-color: #339dff;
            }
         }

         .footerSocialMedia {
            @apply flex  items-center flex gap-3 mt-2;
            a{
               @apply p-0;
               @include flex-center
            }
            
            
         }

         // Footer Links
         ul {
            @apply flex flex-col gap-2;
         }
         .footerLink {
            @include text-gradient(light);
            @apply relative inline-block w-fit;
            @apply cursor-pointer;

            &::after {
               content: "";
               @apply absolute top-full left-0;
               @apply w-full h-[1px] opacity-50;
               background: color($color-light);
            }

            &:hover {
               @include text-gradient(primary);
               border-color: #339dff;

               &::after {
                  opacity: 1;
                  background: $gradient-primary;
               }
            }
         }
      }

      @include responsive(md) {
         .container {
            @apply gap-y-8 gap-x-14;
         }
      }
      @include responsive(lg) {
         .container {
            @apply flex-nowrap gap-28;
            .footerAbout {
               p {
                  @apply max-w-[500px];
               }

               img {
                  height: 40px;
               }
            }
         }

         ul {
            @apply w-64;
         }
         .footerLink {
            @apply whitespace-nowrap;
         }
      }
      @include responsive(xl) {
         ul {
            @apply w-96;
         }
         .footerLink {
            @apply whitespace-nowrap;
         }
      }
   }

   .careerForm {
      background: color($color-dark, 500);
      @apply relative py-10 overflow-hidden;

      .container {
         @apply relative;
      }

      .careerContent {
         @apply relative z-10;
         @apply grid gap-2;

         .heading {
            @include text-gradient(primary);
            @apply text-4xl font-black w-fit;
         }
         .para {
            @apply w-fit;
         }
      }
      .careerBg {
         @apply absolute top-1/2 -right-20 -translate-y-1/2;
         @apply opacity-30;
         @apply max-w-[300px] w-full;
      }

      form {
         @apply flex flex-col gap-3 items-start w-full max-w-[700px] mt-4;

         .formGroup {
            @apply flex-1 m-0 w-full;

            input,
            textarea {
               @apply rounded-full;
               @apply bg-transparent;
               @apply py-3 px-6;

               // gradient border
               border: 1px solid transparent;
               background-image: linear-gradient(
                     40deg,
                     color($color-dark, 500) 0%,
                     color($color-dark, 500) 100%
                  ),
                  linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
               background-origin: border-box;
               background-clip: padding-box, border-box;

               width: auto;
               box-shadow: none;
               overflow: hidden;

               &:focus-visible,
               &:valid {
                  outline: none;
                  border: 1px solid transparent;
                  background-image: linear-gradient(
                        40deg,
                        color($color-dark, 300) 0%,
                        color($color-dark, 400) 50%
                     ),
                     linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
                  background-origin: border-box;
                  background-clip: padding-box, border-box;
               }

               &.error {
                  outline: 1px solid color($color-red) !important;
               }

               &::placeholder {
                  @apply tracking-wide;
               }
            }
         }
      }

      @include responsive(sm) {
         form {
            @apply flex-row gap-4;
         }
      }

      @include responsive(md) {
         .careerBg {
            @apply right-0;
         }
         .careerContent {
            .heading {
               @apply text-5xl;
            }
            .para {
               @apply text-lg;
            }
         }
      }

      @include responsive(lg) {
         .careerBg {
            @apply max-w-[450px] w-auto;
         }

         form {
            @apply mt-6 mb-4;
         }
      }
   }
}
