.header {
   @apply fixed z-50 w-full py-5;
   @apply bg-transparent text-base;
   @apply whitespace-nowrap;
   @apply transition-all duration-300 ease-in;
   border-bottom: 1px solid transparent;
   font-size: 16px;

   .container {
      @apply flex items-center gap-8;
   }

   &.fixToTop {
      @apply py-3;
      background: color($color-dark);
      border-color: color($color-dark, 500);

      .primaryNav {
         @apply gap-8;

         &.open {
            @apply pt-6;
         }
      }
      .secondaryNav {
         @apply gap-8;
      }
   }

   .logoWraooer {
      @apply flex flex-1 items-center justify-between gap-8;

      img {
         @apply h-12 w-auto;
      }

      .separator {
         @apply w-[0.1rem] bg-gray-600;
         @apply hidden;
      }

      .btnNavToggle {
         @apply relative block h-8 aspect-square cursor-pointer;

         span {
            @apply absolute block w-full h-[2px];
            @apply transition-all duration-500 ease-in;
            background: linear-gradient(
               40deg,
               color($color-light) 0%,
               color($color-light) 100%
            );

            &:first-child {
               @apply top-2 -translate-y-1/2;
            }
            &:nth-child(2) {
               @apply top-1/2 w-1/3 right-0 -translate-y-1/2;
            }
            &:last-child {
               @apply bottom-2 right-0 w-3/4 translate-y-1/2;
            }
         }

         &:hover span {
            background: linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
         }

         &.open {
            span {
               &:first-child {
                  @apply w-full rotate-45 top-1/2;
               }
               &:nth-child(2) {
                  @apply right-full opacity-0 invisible;
               }
               &:last-child {
                  @apply w-full -rotate-45 bottom-1/2;
               }
            }
         }
      }
   }

   .primaryNav {
      @apply absolute w-full left-0 top-full -z-10 overflow-hidden;
      @apply flex flex-col items-center gap-8 flex-1;
      @apply py-0;
      transition: max-height 1s cubic-bezier(0.99, 0.2, 0.2, 0.99) 0s,
         padding 0.8s ease-in-out 0s, gap 0.5s ease-in-out 0s;
      @apply max-h-0;
      background: color($color-dark, 400);

      &.open {
         @apply max-h-[100vh] z-0;
         @apply py-8;
         transition: padding 0.5s linear 0s,
            max-height 1s cubic-bezier(0.99, 0.2, 0.2, 0.99) 0.2s,
            gap 0.5s ease-in-out 0s;
      }

      li a {
         @apply py-1;
         @include text-gradient(light);
      }

      li.active a {
         @include gradient-text;
         font-weight: 500;
      }

      li a:hover {
         @include text-gradient(primary);
      }

      .secondaryInPrimary {
         @apply flex flex-col items-center gap-8 flex-1;
      }
   }

   .secondaryNav {
      @apply hidden;
   }

   @include responsive(lg) {
      .primaryNav {
         .secondaryInPrimary {
            @apply hidden;
         }
      }
      .secondaryNav {
         @apply flex items-center gap-8;

         li a {
            @apply py-1;
            @include text-gradient(light);
         }

         li.active a {
            @include gradient-text;
            font-weight: 500;
         }

         li a:hover {
            @include text-gradient(primary);
         }
      }
   }

   @include responsive(xl) {
      &.fixToTop {
         .primaryNav {
            @apply gap-8 p-0;

            &.open {
               @apply gap-8 p-0;
            }
         }
         .secondaryNav {
            @apply gap-8;
         }
      }

      .logoWraooer {
         @apply flex-initial items-stretch justify-start;

         .separator {
            @apply block;
         }

         .btnNavToggle {
            @apply hidden;
         }
      }

      .primaryNav {
         @apply relative z-10;
         @apply flex-row gap-8;
         @apply py-0;
         @apply h-auto max-h-none bg-transparent;

         &.open {
            @apply relative;
            @apply py-0 gap-8;
            @apply h-auto;
         }
      }
   }
}
