.modal {
   .modalHeader {
      @apply flex justify-between items-center;
      @apply w-full pb-4;
      @apply border-b;

      &__heading {
         color: color($color-dark) !important;
      }

      i {
         font-size: 1.5rem;
      }
   }

   .modalBody {
      @apply py-4;

      .formGroup {
         label {
            font-weight: 500;
            margin-bottom: 4px;
         }
         input:focus {
            background: transparent;
            border-color: color($color-dark);
         }
      }
      .btnWrapper {
         @apply flex justify-start items-center gap-4 flex-wrap;
      }
   }

   .modalFooter {
      @apply flex justify-end items-center gap-4;
      @apply w-full pt-4;
      @apply border-t;
   }
}

.modalWhitepaperEmail {
   @apply p-8 px-10 lg:p-12 lg:px-12 overflow-hidden;

   .designElem {
      &__closeBtn {
         @apply absolute top-8 right-8 text-2xl z-30;
      }

      .imgModalBackdrop {
         @apply absolute top-0 right-0 w-fit h-full select-none;
      }

      .imgModalForeground {
         @apply hidden md:block;
         @apply absolute -bottom-8 -right-8 md:max-w-[250px] lg:max-w-[300px] h-auto select-none;
      }
   }

   .content {
      @apply flex flex-col gap-4;
      @apply w-[90%] md:max-w-[350px];
      @apply relative z-10;

      .form {
         @apply flex flex-col gap-2;
         @apply mt-4;
      }

      .formGroup {
         @apply my-0;

         label span {
            @apply text-red-600;
         }
         input {
            background: rgba($color: color($color-dark), $alpha: 0.05);
            color: color($color-white);
            border: 1px solid rgba($color: color($color-dark), $alpha: 0.5);

            &:focus {
               @apply border border-[#1e203f];
               background: rgba($color: color($color-dark), $alpha: 0.1);
            }

            &::placeholder {
               color: color($color-dark, 50);
               opacity: 0.8;
               font-size: 0.9rem;
            }
         }
      }

      .formBtn {
         @apply w-fit;
      }
   }
}
