.btn {
   @apply flex items-center gap-3;
   @apply py-4 px-8;
   @apply rounded-full;

   @apply font-medium leading-[100%];

   &-primary {
      @apply relative z-10;
      @apply transition-all duration-500 ease-in;

      // gradient border
      border: 1px solid transparent;
      background-image: linear-gradient(40deg, #339dff 0%, #0ec1d3 100%),
         linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
   }

   &-rounded {
      @apply aspect-square p-4 rounded-full;

      // for rounded small button
      &.btn-sm {
         @apply p-3;
      }
   }

   &-secondary {
      @apply relative z-10;
      @apply transition-all duration-500 ease-in;
      @apply border border-[#339cff];

      // gradient border
      background-origin: border-box;
      background-clip: padding-box, border-box;

      &:hover {
         color: color($color-primary, 200);
         border-color: color($color-primary, 200);
      }
      &:active,
      &:focus {
         color: color($color-primary, 400);
         border-color: color($color-primary, 400);
      }

      &.btn--danger {
         color: color($color-red);
         border-color: color($color-red);
      }
   }

   &-dark {
      @apply border border-[#1e203f];
      background: color($color-dark);

      &:hover {
         background: color($color-dark, 600) !important;
      }
   }

   &-sm{
      @apply h-10 px-6 py-0;
   }

   &:hover {
      background-image: linear-gradient(-40deg, #339dff 0%, #0ec1d3 100%),
         linear-gradient(-40deg, #339dff 0%, #0ec1d3 100%);
   }
   &:active,
   &:focus {
      background-image: linear-gradient(-40deg, #339dff 0%, #0ec1d3 100%),
         linear-gradient(-40deg, #339dff 0%, #0ec1d3 100%);
   }

   &[disabled] {
      opacity: 0.6;
      cursor: not-allowed !important;
   }

   @include responsive(md) {
      // padding: 0.9rem 1.5rem;
   }
}

.bi-spin {
   animation: spin-animation 1s linear infinite;
}
@keyframes spin-animation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(359deg);
   }
}
