/* styles/global/globals.css */
*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html,
body {
   font-size: 16px;
   scroll-behavior: smooth;
   max-width: 100vw;
   overflow-x: hidden;
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   color: inherit;
   text-decoration: none;
   width: fit-content;
   box-shadow: none;
}
