.heading {
   @apply font-black inline-block leading-[150%];
   color: color($color-light);

   &-1 {
      @apply text-4xl;
   }
   &-2 {
      @apply text-3xl;
   }
   &-3 {
      @apply text-2xl;
   }
   &-4 {
      @apply text-xl;
   }
   &-5 {
      @apply text-lg font-extrabold;
   }
   &-6 {
      @apply text-base font-bold;
   }

   &-gradient {
      @include text-gradient(primary);
   }

   @include responsive(md) {
      &-1 {
         @apply text-5xl;
      }
      &-2 {
         @apply text-4xl;
      }
      &-3 {
         @apply text-3xl;
      }
      &-4 {
         @apply text-2xl;
      }
      &-5 {
         @apply text-xl;
      }
   }

   @include responsive(lg) {
      &-1 {
         @apply text-6xl;
      }
      &-2 {
         @apply text-[3rem];
      }
      &-3 {
         @apply text-4xl;
      }
      &-4 {
         @apply text-3xl;
      }
      &-5 {
         @apply text-2xl;
      }
      &-6 {
         @apply text-lg font-bold;
      }
   }
}

.para {
   @apply leading-[140%] opacity-90;

   &-small {
      @apply text-sm;
   }
}

.link {
   color: color($color-primary);

   &:hover,
   &:focus {
      text-decoration: underline;
   }
}

.text-primary {
   color: color($color-primary);
}
.text-danger {
   color: color($color-red);
}

@mixin typo($type, $size: para) {
   @extend .heading;
   @extend .heading-#{$size} !optional;
}
