.heading {
   @apply font-black inline-block leading-[120%];
   color: color($color-light);

   * {
      @apply leading-[110%];
   }

   &-1 {
      @apply text-4xl;
   }
   &-2 {
      @apply text-3xl;
   }
   &-3 {
      @apply text-2xl;
   }
   &-4 {
      @apply text-xl;
   }
   &-5 {
      @apply text-lg font-extrabold;
   }
   &-6 {
      @apply text-base font-bold;
   }

   &-gradient {
      @include text-gradient(primary);
   }

   strong,
   b {
      @include text-gradient(primary);
   }

   @include responsive(md) {
      &-1 {
         @apply text-5xl;
      }
      &-2 {
         @apply text-4xl;
      }
      &-3 {
         @apply text-3xl;
      }
      &-4 {
         @apply text-2xl;
      }
      &-5 {
         @apply text-xl;
      }
   }

   @include responsive(lg) {
      &-1 {
         @apply text-6xl;
      }
      &-2 {
         @apply text-5xl;
      }
      &-3 {
         @apply text-4xl;
      }
      &-4 {
         @apply text-3xl;
      }
      &-5 {
         @apply text-2xl;
      }
      &-6 {
         @apply text-xl font-bold;
      }
   }
}

.para {
   @apply leading-[140%];
   opacity: 0.95;

   &-small {
      @apply text-sm;
   }

   @include responsive(lg) {
      font-size: 1.05rem;
   }
}

.link {
   color: color($color-primary);

   &:hover,
   &:focus {
      text-decoration: underline;
   }
}

.text-primary {
   color: color($color-primary);
}
.text-danger {
   color: color($color-red);
}

.portableText {
   p {
      @apply mb-2;
      @include typo(para);
   }
   ul,
   li {
      @apply pl-4;
   }
   ul {
      list-style-type: circle;
   }
   ol {
      list-style-type: decimal;
   }
   h1 {
      @include typo(heading, 1);
   }
   h2 {
      @include typo(heading, 2);
   }
   h3 {
      @include typo(heading, 3);
   }
   h4 {
      @include typo(heading, 4);
   }
   h5 {
      @include typo(heading, 5);
   }
   h6 {
      @include typo(heading, 6);
   }
}
