// Colors
// =========================
$gradient-primary: linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
$color-white: (
   default: #ffffff,
);
$color-primary: (
   default: #fafafa,
);
$color-light: (
   default: #fafafa,
);
$color-dark: (
   50: #e9e9ec,
   75: #a3a4b0,
   100: #7d7e90,
   200: #a3a4b0,
   300: #1e203f,
   400: #15162c,
   500: #121426,
   600: #0b0d18,
   default: #1e203f,
);
$color-red: (
   300: #e13535,
   default: #f83939,
);
@function color($color, $weight: default) {
   @return map-get($map: $color, $key: $weight);
}

// Fonts
// =========================
$font-primary: "Helvetica Now Display", sans-serif;
