// Imporing tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/resets";
@import "./utils/helpers";

body,
html {
   background: color($color-dark);
   color: color($color-light);
   font-size: 16px;
}

main {
   min-height: 100vh; // this will make sure main section is always alteast 1 screen height
   @apply py-20;
}

.container {
   padding-inline: 1.5rem;
   width: auto;
   margin-inline: auto;

   @include responsive(md) {
      max-width: 1300px;
      margin-inline: auto;
   }
}
