// Imporing tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/resets";
@import "./utils/helpers";

body,
html {
   background: color($color-dark);
   color: color($color-light);
   font-size: 16px;
}

main {
   min-height: 100vh; // this will make sure main section is always alteast 1 screen height
}

section {
   @apply min-h-[50vh];

   &:not(.hero) {
      @apply my-[50px]; // chagne this to 50px

      @include responsive(md) {
         @apply my-[70px]; // chagne this to 100px
      }
      @include responsive(lg) {
         @apply my-[100px]; // chagne this to 100px
      }
   }
}

.container {
   margin-inline: 1rem;
   width: auto;

   @include responsive(md) {
      max-width: initial;
   }
   @include responsive(xl) {
      max-width: 1300px;
      margin-inline: auto;
   }

   &-tight {
      max-width: 1100px;
   }
}
