// Imporing tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/resets";
@import "./utils/helpers";

body,
html {
   background: color($color-dark);
   color: color($color-light);
   font-size: 17px;
}

main {
   min-height: 100vh; // this will make sure main section is always alteast 1 screen height
}

section {
   @apply min-h-[50vh];

   &:not(.hero) {
      @apply my-28;

      @include responsive(lg) {
         @apply my-32;
      }
   }

   &.hero {
      @apply pt-16;

      @include responsive(lg) {
         @apply pt-10;
      }
   }
}

.container {
   padding-inline: 1.25rem;
   width: auto;
   margin-inline: auto;

   @include responsive(md) {
      max-width: 1300px;
      margin-inline: auto;
   }

   &-tight {
      max-width: 1100px;
   }
}
